body{
	background-color:turquoise;
}

#wrapper{
	font-family:"Trebuchet MS",Trebuchet,Arial,Helvetica,sans-serif;
	width:80%;
	margin:0 auto;
	border:3px solid black;
	background-color:white;
}

h1{
	margin:0;
	padding:0;
	color: white;
}

main > h1 {
	color: black;
}
header{
	text-align:center;
	float:left;
	width:100%;
	background-color:black;
	margin-bottom:1rem;
}

main{
	padding:1rem;
}

main > ul li {
	list-style-type: none;
}

main > li {
	list-style-type: none;
}

img.feature{
	float:right;
	border:1px solid black;
	margin-left:0.8rem;
}
main h1{
	text-transform:uppercase;
	margin-bottom:1rem;
	border-bottom:1px solid #000;
}

aside{
	background-color:silver;
	float:left;
	width:30%;
	padding:0.3rem;
	border:1px solid black;
	margin-right:1rem;
}
footer{
	clear:both;
	width:100%;
	background-color:black;
	padding:1rem 0 1rem 0;
}
footer p{
	margin-left:1rem;
	margin:0;
	padding:0;
	text-align: center;
	margin-left:1rem;
	color: white;
}